
.totalWrapper {
    display: flex;
    align-items: center;
    gap: 2px;
    position: relative;
}

.btns {
    display: flex;
    gap: 3px;
    background: #1c1b1b;
    padding: 10px;
    border-radius: 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 15px;
    border-radius: 15px;
    background: #0d0c0c;
}

.btnWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    gap: 3px
}

.btnWrapperSings {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
