@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  
}
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background: rgb(12,12,15);
  background: linear-gradient(30deg, rgba(12,12,15,1) 50%, rgba(75,164,135,1) 100%);
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
